* {
    margin: 0;
    padding: 0;
}
h1{
    font-size: 32px;
    color: #E6423C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}
p{
    font-size: 18px;
    color: #E6423C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.background{
    height: 100vh;
    background-color: #D9D9D9;
}

/*==== BARRA SUPERIOR ====*/
.barra-superior{
    height: fit-content;
    background-color: #E6423C;
    padding: 12px 30px;
}
#logo-navbar{
    width: 80px;
}
#siteName{
    position: relative;
    font-size: 28px;
    font-weight: 600;
    width: fit-content;
    color: #F3F3F3;
    display: inline-block;
    top: 10px;
    text-decoration: none;
}
#btn-buscar{
    width: 50px;
    height: 50px;
    color: #F3F3F3;
    text-align: center;
    font-size: 20px;
    float: right;
    transform: translate(0, 25%);
}
#btn-buscar>p{
    color: #F3F3F3;
    padding-top: 5px;
    font-weight: 500;
    margin: 0;
}
#btn-buscar:hover, #btn-buscar>p:hover{
    background-color: #c53833;
    border-radius: 100px;
}
#btn-sair{
    width: 55px;
    height: 55px;
    color: #F3F3F3;
    text-align: center;
    font-size: 20px;
    margin-left: 30px;
    float: right;
    transform: translate(0, 25%);
}
#btn-sair>p{
    color: #F3F3F3;
    padding-top: 5px;
    font-weight: 500;
    margin: 0;
}
#btn-sair:hover, #btn-sair>p:hover{
    background-color: #c53833;
    border-radius: 100px;
}
#btn-home{
    position: relative;
    width: 55px;
    height: 55px;
    color: #F3F3F3;
    text-align: center;
    font-size: 20px;
    float: right;
    transform: translate(0, 25%);
}
#btn-home>p{
    color: #F3F3F3;
    padding-top: 5px;
    font-weight: 500;
}
#btn-home:hover, #btn-home>p:hover{
    background-color: #c53833;
    border-radius: 100px;
}
#btn-buscar{
    width: 55px;
    height: 55px;
    color: #F3F3F3;
    font-size: 20px;
    position: relative;
    float: right;
}
#btn-buscar:hover, #btn-buscar>p:hover{
    background-color: #c53833;
    border-radius: 100px;
}

/* ==== BUSCA USUÃRIO ==== */
#btn-pesquisar{
    width: 100px;
    height: 50px;
    font-size: 18px;
    color: #F3F3F3;
    background-color: #E6423C;
    border: 0px solid;
    border-radius: 20px;
    margin: auto 0;
    margin-left: 10px;
}
#btn-pesquisar:hover{
    color: #F3F3F3;
    border: 0px solid;
    background-color: #af322d;
    position: relative;
}

/* ==== HOME - PAINEL ESQUERDA ====*/
#painel-esquerda{
    position: sticky;
    height: 100vh;
    border-right: 2px solid #E6423C;
    top: 0;
}
#username{
    font-size: 20px;
    font-weight: 700;
    color: #E6423C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #E6423C;
    padding: 20px 0;
}
.campo-info{
    display: inline-flex;
    width: 100%;
}
.user-info{
    position: relative;
    width: 95px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #E6423C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
}
.user-info>h5{
    font-weight: 500;
    font-size: 18px;
}

/* ==== HOME - PAINEL CENTRAL====*/
.inputBox{
    padding: 10px 30px;
    font-size: 18px;
    border: 2px solid #E6423C;
    border-radius: 20px;
}
#input-post{
    width: 500px;
    height: 50px;
}
#input-busca{
    width: 300px;
    height: 50px;
}
.input-form{
    margin: 20px 0;
    position: relative;
    display: inline-flex;
    height: fit-content;
    width: fit-content;
    left: 50%;
    transform: translate(-50%);
}
#btn_postar{
    width: 80px;
    height: 50px;
    font-size: 18px;
    color: #F3F3F3;
    background-color: #E6423C;
    border: 0px solid;
    border-radius: 20px;
    margin: auto 0;
    margin-left: 10px;
}
#btn_postar:hover{
    color: #F3F3F3;
    border: 0px solid;
    background-color: #af322d;
    position: relative;
}
#output-userNotFound{
    font-size: 20px;
    font-weight: 500;
    width: fit-content;
    margin: 0 auto;
}
/* ==== HOME - CONTEUDO POSTAGEM ==== */
/*Autor da postagem*/
.list-group-item{
    height: fit-content;
    border: 1px solid #D9D9D9;
    padding: 15px 20px;
    margin-bottom: 5px;
}
/*conteudo da postagem*/
.list-group-item>p{
    font-weight: normal;
    color: #464646;
}

.list-group-item>h4{
    font-weight: normal;
}

.list-group-item>#usuario_nome{
    position: relative;
    display: inline;
    font-weight: normal;
    color: black;
    float: left;
}


.btn_seguir{
    border: 0;
    color: #ffffff;
    width: 80px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    border-radius: 20px;
    background-color: #E6423C;
    float: right;
}

.btn_deixar_seguir{
    border: 0;
    color: #ffffff;
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    border-radius: 20px;
    background-color: #7A7A7A;
    float: right;
}
.btn_deixar_seguir:hover{
    background-color: #5c5c5c;
}

.btn_seguir:hover{
    background-color: #af322d;
}


/* ==== LOGIN e CADASTRO ==== */
@keyframes hide{
    from {transform: translate(0, 0)}
    to   {transform: translate(-100%,0)}
}
.msg-error{
    text-align: center;
    background-color: #E6423C;
    height: fit-content;
    width: fit-content;
    position: relative;
    padding: 15px 25px;
    border-radius: 0 20px 20px 0;
    top: 5%;
    animation: hide 2s 5s forwards;
}
.msg-error>p{
    color: #F3F3F3;
    font-weight: 500;
    margin: 0 auto;
}
.msg-success{
    background-color: #3ca53c;
    height: fit-content;
    width: fit-content;
    position: relative;
    padding: 15px 25px;
    border-radius: 0 20px 20px 0;
    top: 5%;
    animation: hide 2s 5s forwards;
}

.msg-success>p{
    color: #ffffff;
    font-weight: 500;
    margin: 0 auto;
}  
#logo{
    width: 113px;
    height: 113px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.textBox{
    position: relative;
    font-size: 18px;
    height: 50px;
    width: 250px;
    margin: 0 auto;
    border: 3px solid #E6423C;
    border-radius: 20px;
    padding-left: 15px;
}
.container-input{
    width: fit-content;
    margin-bottom: 20px;
    display: flex;
}
#alerta{
    width: fit-content;
    height: fit-content;
    font-size: 24px;
    color: #E6423C;
    margin: auto 0;
    margin-left: 10px;
}
.botao1{
    text-decoration: none;
    font-size: 18px;
    width: 150px;
    height: 50px;
    color: #F3F3F3;
    border: 0px solid;
    border-radius: 40px;
    background-color: #E6423C;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
}
.botao1:hover{
    text-decoration: none;
    font-size: 18px;
    width: 150px;
    height: 50px;
    color: #F3F3F3;
    border: 0px solid;
    border-radius: 40px;
    background-color: #af322d;
}
.botao2{
    text-decoration: none;
    font-size: 18px;
    width: 130px;
    height: 30px;
    color: #E6423C;
    border: 1px solid #E6423C;
    border-radius: 40px;
    background-color: #F3F3F3;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao2:hover{
    text-decoration: none;
    font-size: 18px;
    width: 130px;
    height: 30px;
    color: #F3F3F3;
    border: 0px solid #E6423C;
    border-radius: 40px;
    background-color: #E6423C;
}
.box{
    width: 500px;
    height: fit-content;
    border: 9px solid rgba(64, 73, 107, 0.3);
    position: absolute;
    background-color: #F3F3F3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 50px;
}
.campo1{
    width: fit-content;
    margin: 0 auto;
    margin-top: 10px;
}
.campo2{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    position: relative;    
    display: flex;
    margin-top: 50px;
}